extends /default.pug


block title
    title Complex Numbers

append header
    p: a(href="/CECS_463") CECS 463

block main
    article
        h1 Complex Numbers
        hr

        +tableOfContents()
            li: a(href="#Introduction") Introduction
            li: a(href="#Notation") Notation
                ul
                    li: a(href="#Rectangular_Form") Rectangular Form
                    li: a(href="#Polar_Form") Polar Form
                    li: a(href="#Conversion_Between_Rectangular_and_Polar_Forms") Conversion Between Rectangular and Polar Forms
            
        section#Introduction
            p
                | #[dfn Complex numbers] are an extension of real numbers into two dimensions.
                | The second axis is called the #[em imaginary axis] and a number in this plane is a vector.
                | Complex numbers arise naturally from algebra since there are many polynomials that have no roots in the real number vector space.
                | The complex number plane is the vector space of all roots of polynomial equations with degree one or higher provided the coefficients are real or complex numbers.
        
        section#Notation
            h2 Notation
            p
                | Imaginary numbers can be represented in rectangular (Cartesian) form or in polar form.
                | Rectangular form is very suitable to carrying out addition or subtraction of polar numbers, but not multiplication or division.
                | Polar form is well suited to multiplication and division, but not addition or subtraction.
                | Applying the complex conjugate is straigthforward in both notations.
            section#Rectangular_Form
                h3 Rectangular Form
                p
                    | Generally the following notation is for complex numbers in rectangular form
                    | \[ z=x+jy \tag{1} \]
                    | where \(x\) and \(y\) are the real and imaginary portions of the number.
                    | The symbol \(j\) being a unit vector on the imaginary axis.
                    | Sometimes \(i\) is used instead, but for the purposes of DSP, \(j\) will be used.
                    | The operations \( \Re \) and \( \Im \) are sometimes defined for imaginary numbers where \(\Re\) returns the real component
                    | of the number and \(\Im\) returns the imaginary component (for example, \(\Re(z)=x\) and \(\Im(z)=y\)).
                p
                    | In rectangular form, addition or subtraction of two polar numbers, \(z_{1}=x_{1}+jy_{1}\) and \(z_{2}=x_{2}+jy_{2}\), is as simple as
                    | \[ z_{1}+z_{2}=(x_{1}+x_{2}) + j(y_{1}+y_{2}) \]
                    | \[ z_{1}-z_{2}=(x_{1}-x_{2}) + j(y_{1}-y_{2}) \]
                p
                    | The conjugate of \(z=x+jy\) would be
                    | \[ \bar{z}=x-jy \]
            
            section#Polar_Form
                h3 Polar Form
                p
                    | There are a couple notations for polar forms. The most intuitive is #[dfn angle notation]
                    | \[ r\angle \theta \tag{2.1} \]
                    | The other is the #[dfn complex exponential form], which is derived from Euler's formula \( e^{j\theta}=cos(\theta)+j\sin(\theta) \).
                    | \[ z=re^{j\theta} \tag{2.2} \]
                p
                    | Multiplication or division of two polar numbers, \(z_{1}=r_{1}e^{j\theta _{1}}\) and \(z_{2}=r_{2}e^{j\theta _{2}}\), is carried out as follows
                    | \[ z_{1}\cdot z_{2}=(r_{1}r_{2})e^{j(\theta_{2}+\theta_{2})} \]
                    | \[ \frac{z_{1}}{z_{2}}=\frac{r_{1}}{r_{2}}e^{j(\theta_{2}-\theta_{2})} \]
                p
                    | The conjugate of \(z=re^{j\theta}\) would be
                    | \[ \bar{z}=re^{-j\theta} \]
                
                section#Multiplicative_Inverse
                    h4 Multiplicative Inverse
                    p
                        | The multiplicative inverse of \(z\), \(z^{-1}\) is
                        | \[ z^{-1}=\frac{1}{r}e^{-j\theta} \tag{3} \]
                        | For the particular case of \(z=0+j\), then
                        | \[ z^{-1}=\frac{1}{j}=e^{-j\frac{\pi}{2}} \]
            
            section#Conversion_Between_Rectangular_and_Polar_Forms
                h3 Conversion Between Rectangular and Polar
                p
                    | From polar to rectangular is the simpler of the two as the principal angle is already obtained.
                    | \[ x=r\cos\theta \tag{4.1a} \]
                    | \[ y=j\cdot r\sin\theta \tag{4.1b} \]
                p
                    | Conversion rectangular to polar is slightly more difficult as one needs to account for what quadrant the final vector will lie within.
                    | This is because the formula uses the \(\arctan\) function which yields results in the range of \(-\frac{\pi}{2}\) to \(\frac{\pi}{2}\)
                    | whereas the polar representation can have an angle \(\theta\) in the range \(-\pi\) to \(\pi\).
                    | So one might (or might not) need to add a value of \(\pi\) to obtain the #[em actual] value of \(\theta\).
                    | \[ r=\sqrt{x^{2}+y^{2}} \tag{4.2a} \]
                    | \[ \theta =\arctan(\frac{y}{x}) \tag{4.2b} \]
                
        
        hr
        section#References
            h2 References
            p [1] J. H. McClellan, R. Schafer, M. Yoder, #[i DSP First], 2nd ed. Pearson, 2016, Appendix B.
            p [2] A. Mernhia, Class Lecture, CECS 463, College of Engineering, California State University, Long Beach, Spring 2024.
            p [3] P. Dawkins, "Polar & Exponential Form", tutorial.math.lamar.edu. #[a(href="https://tutorial.math.lamar.edu/Extras/ComplexPrimer/Forms.aspx") https://tutorial.math.lamar.edu/Extras/ComplexPrimer/Forms.aspx] (accessed 28 Feb. 2024).